<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span> My Home
      </a>
    </div>

    <div class="navbar-header pull-right">
    <a data-container="body" role="button"  tabindex="0" class="navbar-brand" title="Living room light trigger"  data-toggle="popover" data-placement="bottom" init-popover>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
      </a>
    </div>
  </div>
</nav>
