<div class="configurationPageWrapper">
	<div class="container">
		<button type="button" class="btn btn-primary" ui-sref="room.configuration.triggercreate">Create</button>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="trigger in triggers" > 
				<a ui-sref="room.configuration.triggeredit({id: {{trigger.Id}}})">
					<span  class="glyphicon glyphicon glyphicon-cog"></span>
				</a>
				<a ui-sref="room.configuration.triggerdetails({id: {{trigger.Id}}})">{{trigger.Name}}</a>

				<a ng-click="delete(trigger.Id)">
					<span  class="glyphicon glyphicon glyphicon-remove"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
