<div class="container-fluid controlWrapper">




<div class= "offlinelable">
	<label class="control-label">Offline mode</label>
	<div class="make-switch" >
		<input type="checkbox" checked  server-switch>
	</div>
	<div>
	<div class="dashboardWraapper"> 
		<div class="row">
			<div class="col-xs-9 col-sm-4 col-md-4 col-lg-3"  ng-repeat="triggersState in triggersStates" >
				<div class="row">
					<div class = "card">
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-7 ">
							<p>{{triggersState.Name }}</p> <br/>
							<div class="make-switch switchCard">
								<input type="checkbox"   data-size="mini" init-switch refresh-trigger-state triggerid= "triggersState.Id">
							</div>	
						</div>
						<div class="col-xs-4 col-xs-4-offset  col-sm-4 col-md-3 col-lg-5">
							<img src="{{triggersState.Image}}" >	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>